body {
  display: block;
  background-color: hsl(180, 52%, 96%);
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  margin: 0;
}

header img {
  width: 100%;
}

.filterSection {
  margin: 0 {
    top: -77px;
    left: 100px;
    right: 100px;
  }
}

.filters {
  margin: 50px 0;
  background-color: white;
  display: flex;
  border-radius: 8px;
  position: relative;
  padding: 11px;
}

.filter {
  margin: 5px;
  background-color: hsl(180, 31%, 95%);
  color:  hsl(180, 29%, 50%);
  font-weight: 700;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
  .filterName {
    padding: 8px;
  }
  .filterExit {
    padding: 8px;
    background-color: hsl(180, 29%, 50%);
    color: white;
  }
}

.jobsList {
  margin: 0 100px;
}

.job {
  display: flex;
  background-color: white;
  margin: 50px 0;
  border-radius: 8px;
  position: relative;
  box-shadow: 3px 6px 19px -7px hsl(180, 29%, 50%);
  img {
    height: 90px;
    align-self: center;
    padding: 0 30px;
  }
  .featured {
    .line {
      width: 5px;
      background-color: hsl(180, 29%, 50%);
      height: 100%;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
  &::before {
    width: 5px;
    background-color: hsl(180, 29%, 50%);
    height: 100%;
  }

}
.top {
  color: hsl(180, 29%, 50%);
  display: flex;
  align-items: center;
  h2 {
    margin: 0;
  }
}

.middle {
  width: 100%;
  padding: 20px 0;
  h2 {
    margin: 0;
  }
}

.stickers {
  display: flex;
  align-items: center;
  p {
    padding: 6px;
    margin: 0 {
      left: 10px;
    }
    color: hsl(180, 52%, 96%);
    font-size: 0.7rem;
  }
  .new {
    background-color: hsl(180, 29%, 50%);
    border-radius: 15px;
  }
  .featured {
    background-color: hsl(180, 14%, 20%);
    border-radius: 15px;
  }
}

.otherInfo {
  display: flex;
  justify-content: flex-start;
  color:  hsl(180, 8%, 52%);
  padding: 0;
  .noBullet {
    list-style-type: none;
  }
  li {
    padding-right: 25px;
  }
}

.languages {
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-right: 10px;
  p {
    margin: 5px;
    background-color: hsl(180, 31%, 95%);
    color:  hsl(180, 29%, 50%);
    padding: 8px;
    font-weight: 700;
    font-size: 0.8rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
