body {
  display: block;
  background-color: #effafa;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  margin: 0; }

header {
  width: 100%;
  background-image: url("../images/bg-header-desktop.svg");
  height: 156px;
  background-color: #5ba4a4; }

.filterSection {
  margin: 0;
    margin-top: -77px;
    margin-left: 100px;
    margin-right: 100px;
  visibility: hidden; }
  .filterSection .clear {
    color: #5ba4a4;
    position: absolute;
    top: 142px;
    right: 112px;
    font-size: 0.8rem;
    font-weight: 700; }
    .filterSection .clear:hover {
      text-decoration: underline; }

.filters {
  display: flex;
  margin: 50px 0;
  background-color: white;
  border-radius: 8px;
  position: relative;
  padding: 11px; }

.filter {
  margin: 5px;
  background-color: #eef6f6;
  color: #5ba4a4;
  font-weight: 700;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  border-radius: 5px; }
  .filter p {
    margin: 0; }
  .filter .filterName {
    padding: 8px; }
  .filter .filterExit {
    padding: 8px;
    background-color: #5ba4a4;
    color: white;
    border-radius: 5px; }
    .filter .filterExit:hover {
      background-color: #2c3a3a; }

.jobsList {
  margin: 100px; }

.job {
  display: flex;
  background-color: white;
  margin: 50px 0;
  border-radius: 8px;
  position: relative;
  box-shadow: 3px 6px 19px -7px #5ba4a4; }
  .job img {
    height: 90px;
    align-self: center;
    padding: 0 30px; }
  .job .featured .line {
    width: 5px;
    background-color: #5ba4a4;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
  .job::before {
    width: 5px;
    background-color: #5ba4a4;
    height: 100%; }

.top {
  color: #5ba4a4;
  display: flex;
  align-items: center; }
  .top h2 {
    margin: 0; }

.middle {
  width: 100%;
  padding: 20px 0; }
  .middle h2 {
    margin: 0; }

.stickers {
  display: flex;
  align-items: center; }
  .stickers p {
    padding: 6px;
    margin: 0;
      margin-left: 10px;
    color: #effafa;
    font-size: 0.7rem; }
  .stickers .new {
    background-color: #5ba4a4;
    border-radius: 15px; }
  .stickers .featured {
    background-color: #2c3a3a;
    border-radius: 15px; }

.otherInfo {
  display: flex;
  justify-content: flex-start;
  color: #7b8e8e;
  padding: 0; }
  .otherInfo .noBullet {
    list-style-type: none; }
  .otherInfo li {
    padding-right: 25px; }

.languages {
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-right: 10px; }
  .languages p {
    margin: 5px;
    background-color: #eef6f6;
    color: #5ba4a4;
    padding: 8px;
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 5px; }
    .languages p:hover {
      color: white;
      background-color: #5ba4a4; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

@media only screen and (max-width: 1300px) {
  .languages {
    flex-wrap: wrap; } }

@media only screen and (max-width: 767.98px) {
  .jobsList {
    margin: 100px 60px; }
  .job {
    flex-direction: column;
    padding-left: 15px; }
    .job img {
      height: 50px;
      width: 50px;
      position: absolute;
      left: -9px;
      top: -25px; }
    .job .featured .line {
      position: absolute;
      left: 0; }
    .job .top {
      justify-content: flex-start; }
      .job .top h3 {
        font-size: 0.9rem; }
    .job .middle h2 {
      font-size: 1.1rem; }
    .job .middle ul {
      font-size: 0.8rem; }
    .job .middle .otherInfo:after {
      content: "";
      position: absolute;
      top: 129px;
      width: 87%;
      height: 1px;
      background-color: #7b8e8e; }
    .job .languages {
      margin: 0;
        margin-bottom: 15px;
      justify-content: flex-start;
      align-self: flex-start; }
      .job .languages p {
        margin-left: 0;
        margin-right: 20px; }
  .filterSection {
    margin-left: 0;
    margin-right: 0; }
    .filterSection .filters {
      margin: 50px; }
  header {
    background-image: url("../images/bg-header-mobile.svg"); } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbImJvZHkge1xuICBkaXNwbGF5OiBibG9jaztcbiAgYmFja2dyb3VuZC1jb2xvcjogaHNsKDE4MCwgNTIlLCA5NiUpO1xuICBmb250LXNpemU6IDE1cHg7XG4gIGZvbnQtZmFtaWx5OiAnU3BhcnRhbicsIHNhbnMtc2VyaWY7XG4gIG1hcmdpbjogMDtcbn1cblxuaGVhZGVyIHtcbiAgd2lkdGg6IDEwMCU7XG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vaW1hZ2VzL2JnLWhlYWRlci1kZXNrdG9wLnN2ZycpO1xuICBoZWlnaHQ6IDE1NnB4O1xuICBiYWNrZ3JvdW5kLWNvbG9yOiBoc2woMTgwLCAyOSUsIDUwJSk7XG59XG5cbi5maWx0ZXJTZWN0aW9uIHtcbiAgbWFyZ2luOiAwIHtcbiAgICB0b3A6IC03N3B4O1xuICAgIGxlZnQ6IDEwMHB4O1xuICAgIHJpZ2h0OiAxMDBweDtcbiAgfVxuICB2aXNpYmlsaXR5OiBoaWRkZW47XG4gIC5jbGVhciB7XG4gICAgY29sb3I6IGhzbCgxODAsIDI5JSwgNTAlKTtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgdG9wOiAxNDJweDtcbiAgICByaWdodDogMTEycHg7XG4gICAgZm9udC1zaXplOiAwLjhyZW07XG4gICAgZm9udC13ZWlnaHQ6IDcwMDtcbiAgICAmOmhvdmVyIHtcbiAgICAgIHRleHQtZGVjb3JhdGlvbjogdW5kZXJsaW5lO1xuICAgIH1cbiAgfVxufVxuXG4uZmlsdGVycyB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIG1hcmdpbjogNTBweCAwO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiB3aGl0ZTtcbiAgYm9yZGVyLXJhZGl1czogOHB4O1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHBhZGRpbmc6IDExcHg7XG59XG5cbi5maWx0ZXIge1xuICBtYXJnaW46IDVweDtcbiAgYmFja2dyb3VuZC1jb2xvcjogaHNsKDE4MCwgMzElLCA5NSUpO1xuICBjb2xvcjogIGhzbCgxODAsIDI5JSwgNTAlKTtcbiAgZm9udC13ZWlnaHQ6IDcwMDtcbiAgZm9udC1zaXplOiAwLjhyZW07XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGJvcmRlci1yYWRpdXM6IDVweDtcbiAgcCB7XG4gICAgbWFyZ2luOiAwO1xuICB9XG4gIC5maWx0ZXJOYW1lIHtcbiAgICBwYWRkaW5nOiA4cHg7XG4gIH1cbiAgLmZpbHRlckV4aXQge1xuICAgIHBhZGRpbmc6IDhweDtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiBoc2woMTgwLCAyOSUsIDUwJSk7XG4gICAgY29sb3I6IHdoaXRlO1xuICAgIGJvcmRlci1yYWRpdXM6IDVweDtcbiAgICAmOmhvdmVyIHtcbiAgICAgIGJhY2tncm91bmQtY29sb3I6IGhzbCgxODAsIDE0JSwgMjAlKTtcbiAgICB9XG4gIH1cblxufVxuXG4uam9ic0xpc3Qge1xuICBtYXJnaW46IDEwMHB4O1xufVxuXG4uam9iIHtcbiAgZGlzcGxheTogZmxleDtcbiAgYmFja2dyb3VuZC1jb2xvcjogd2hpdGU7XG4gIG1hcmdpbjogNTBweCAwO1xuICBib3JkZXItcmFkaXVzOiA4cHg7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgYm94LXNoYWRvdzogM3B4IDZweCAxOXB4IC03cHggaHNsKDE4MCwgMjklLCA1MCUpO1xuICBpbWcge1xuICAgIGhlaWdodDogOTBweDtcbiAgICBhbGlnbi1zZWxmOiBjZW50ZXI7XG4gICAgcGFkZGluZzogMCAzMHB4O1xuICB9XG4gIC5mZWF0dXJlZCB7XG4gICAgLmxpbmUge1xuICAgICAgd2lkdGg6IDVweDtcbiAgICAgIGJhY2tncm91bmQtY29sb3I6IGhzbCgxODAsIDI5JSwgNTAlKTtcbiAgICAgIGhlaWdodDogMTAwJTtcbiAgICAgIGJvcmRlci10b3AtbGVmdC1yYWRpdXM6IDhweDtcbiAgICAgIGJvcmRlci1ib3R0b20tbGVmdC1yYWRpdXM6IDhweDtcbiAgICB9XG4gIH1cbiAgJjo6YmVmb3JlIHtcbiAgICB3aWR0aDogNXB4O1xuICAgIGJhY2tncm91bmQtY29sb3I6IGhzbCgxODAsIDI5JSwgNTAlKTtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gIH1cbn1cblxuLnRvcCB7XG4gIGNvbG9yOiBoc2woMTgwLCAyOSUsIDUwJSk7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGgyIHtcbiAgICBtYXJnaW46IDA7XG4gIH1cbn1cblxuLm1pZGRsZSB7XG4gIHdpZHRoOiAxMDAlO1xuICBwYWRkaW5nOiAyMHB4IDA7XG4gIGgyIHtcbiAgICBtYXJnaW46IDA7XG4gIH1cbn1cblxuLnN0aWNrZXJzIHtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgcCB7XG4gICAgcGFkZGluZzogNnB4O1xuICAgIG1hcmdpbjogMCB7XG4gICAgICBsZWZ0OiAxMHB4O1xuICAgIH1cbiAgICBjb2xvcjogaHNsKDE4MCwgNTIlLCA5NiUpO1xuICAgIGZvbnQtc2l6ZTogMC43cmVtO1xuICB9XG4gIC5uZXcge1xuICAgIGJhY2tncm91bmQtY29sb3I6IGhzbCgxODAsIDI5JSwgNTAlKTtcbiAgICBib3JkZXItcmFkaXVzOiAxNXB4O1xuICB9XG4gIC5mZWF0dXJlZCB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogaHNsKDE4MCwgMTQlLCAyMCUpO1xuICAgIGJvcmRlci1yYWRpdXM6IDE1cHg7XG4gIH1cbn1cblxuLm90aGVySW5mbyB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGp1c3RpZnktY29udGVudDogZmxleC1zdGFydDtcbiAgY29sb3I6ICBoc2woMTgwLCA4JSwgNTIlKTtcbiAgcGFkZGluZzogMDtcbiAgLm5vQnVsbGV0IHtcbiAgICBsaXN0LXN0eWxlLXR5cGU6IG5vbmU7XG4gIH1cbiAgbGkge1xuICAgIHBhZGRpbmctcmlnaHQ6IDI1cHg7XG4gIH1cbn1cblxuLmxhbmd1YWdlcyB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGFsaWduLXNlbGY6IGNlbnRlcjtcbiAgbWFyZ2luLWxlZnQ6IGF1dG87XG4gIG1hcmdpbi1yaWdodDogMTBweDtcbiAgcCB7XG4gICAgbWFyZ2luOiA1cHg7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogaHNsKDE4MCwgMzElLCA5NSUpO1xuICAgIGNvbG9yOiAgaHNsKDE4MCwgMjklLCA1MCUpO1xuICAgIHBhZGRpbmc6IDhweDtcbiAgICBmb250LXdlaWdodDogNzAwO1xuICAgIGZvbnQtc2l6ZTogMC44cmVtO1xuICAgIGJvcmRlci1yYWRpdXM6IDVweDtcbiAgICAmOmhvdmVyIHtcbiAgICAgIGNvbG9yOiB3aGl0ZTtcbiAgICAgIGJhY2tncm91bmQtY29sb3I6IGhzbCgxODAsIDI5JSwgNTAlKTtcbiAgICB9XG4gIH1cbn1cblxuLmF0dHJpYnV0aW9uIHtcbiAgZm9udC1zaXplOiAxMXB4O1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIGEge1xuICAgIGNvbG9yOiBoc2woMjI4LCA0NSUsIDQ0JSk7XG4gIH1cbn1cblxuQG1lZGlhIG9ubHkgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiAxMzAwcHgpIHtcbiAgLmxhbmd1YWdlcyB7XG4gICAgZmxleC13cmFwOiB3cmFwO1xuICB9XG59XG5cbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC13aWR0aDogNzY3Ljk4cHgpICB7XG4gIC5qb2JzTGlzdCB7XG4gICAgbWFyZ2luOiAxMDBweCA2MHB4O1xuICB9XG4gIC5qb2Ige1xuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAgcGFkZGluZy1sZWZ0OiAxNXB4O1xuICAgIGltZyB7XG4gICAgICBoZWlnaHQ6IDUwcHg7XG4gICAgICB3aWR0aDogNTBweDtcbiAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgIGxlZnQ6IC05cHg7XG4gICAgICB0b3A6IC0yNXB4O1xuICAgIH1cbiAgICAuZmVhdHVyZWQge1xuICAgICAgLmxpbmUge1xuICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgICAgIGxlZnQ6IDA7XG4gICAgICB9XG4gICAgfVxuICAgIC50b3Age1xuICAgICAganVzdGlmeS1jb250ZW50OiBmbGV4LXN0YXJ0O1xuICAgICAgaDMge1xuICAgICAgICBmb250LXNpemU6IDAuOXJlbTtcbiAgICAgIH1cbiAgICB9XG4gICAgLm1pZGRsZSB7XG4gICAgICBoMiB7XG4gICAgICAgIGZvbnQtc2l6ZTogMS4xcmVtO1xuICAgICAgfVxuICAgICAgdWwge1xuICAgICAgICBmb250LXNpemU6IDAuOHJlbTtcbiAgICAgIH1cbiAgICAgIC5vdGhlckluZm8ge1xuICAgICAgICAmOmFmdGVyIHtcbiAgICAgICAgICBjb250ZW50OiBcIlwiO1xuICAgICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgICAgICB0b3A6IDEyOXB4O1xuICAgICAgICAgIHdpZHRoOiA4NyU7XG4gICAgICAgICAgaGVpZ2h0OiAxcHg7XG4gICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogaHNsKDE4MCwgOCUsIDUyJSkgO1xuICAgICAgICB9XG4gICAgICB9XG4gICAgfVxuICAgIC5sYW5ndWFnZXMge1xuICAgICAgbWFyZ2luOiAwIHtcbiAgICAgICAgYm90dG9tOiAxNXB4O1xuICAgICAgfVxuICAgICAganVzdGlmeS1jb250ZW50OiBmbGV4LXN0YXJ0O1xuICAgICAgYWxpZ24tc2VsZjogZmxleC1zdGFydDtcbiAgICAgIHAge1xuICAgICAgICBtYXJnaW4tbGVmdDogMDtcbiAgICAgICAgbWFyZ2luLXJpZ2h0OiAyMHB4O1xuICAgICAgfVxuICAgIH1cbiAgfVxuICAuZmlsdGVyU2VjdGlvbiB7XG4gICAgbWFyZ2luLWxlZnQ6IDA7XG4gICAgbWFyZ2luLXJpZ2h0OiAwO1xuICAgIC5maWx0ZXJzIHtcbiAgICAgIG1hcmdpbjogNTBweDtcbiAgICB9XG4gIH1cbiAgaGVhZGVyIHtcbiAgICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vaW1hZ2VzL2JnLWhlYWRlci1tb2JpbGUuc3ZnJyk7XG4gIH1cbn0iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsQUFBQSxJQUFJLENBQUM7RUFDSCxPQUFPLEVBQUUsS0FBSztFQUNkLGdCQUFnQixFQUFFLE9BQWtCO0VBQ3BDLFNBQVMsRUFBRSxJQUFJO0VBQ2YsV0FBVyxFQUFFLHFCQUFxQjtFQUNsQyxNQUFNLEVBQUUsQ0FBQyxHQUNWOztBQUVELEFBQUEsTUFBTSxDQUFDO0VBQ0wsS0FBSyxFQUFFLElBQUk7RUFDWCxnQkFBZ0IsRUFBRSxzQ0FBc0M7RUFDeEQsTUFBTSxFQUFFLEtBQUs7RUFDYixnQkFBZ0IsRUFBRSxPQUFrQixHQUNyQzs7QUFFRCxBQUFBLGNBQWMsQ0FBQztFQUNiLE1BQU0sRUFBRSxDQUFDO0lBQ1AsVUFBRyxFQUFFLEtBQUs7SUFDVixXQUFJLEVBQUUsS0FBSztJQUNYLFlBQUssRUFBRSxLQUFLO0VBRWQsVUFBVSxFQUFFLE1BQU0sR0FZbkI7RUFsQkQsQUFPRSxjQVBZLENBT1osTUFBTSxDQUFDO0lBQ0wsS0FBSyxFQUFFLE9BQWtCO0lBQ3pCLFFBQVEsRUFBRSxRQUFRO0lBQ2xCLEdBQUcsRUFBRSxLQUFLO0lBQ1YsS0FBSyxFQUFFLEtBQUs7SUFDWixTQUFTLEVBQUUsTUFBTTtJQUNqQixXQUFXLEVBQUUsR0FBRyxHQUlqQjtJQWpCSCxBQWNJLGNBZFUsQ0FPWixNQUFNLEFBT0gsTUFBTSxDQUFDO01BQ04sZUFBZSxFQUFFLFNBQVMsR0FDM0I7O0FBSUwsQUFBQSxRQUFRLENBQUM7RUFDUCxPQUFPLEVBQUUsSUFBSTtFQUNiLE1BQU0sRUFBRSxNQUFNO0VBQ2QsZ0JBQWdCLEVBQUUsS0FBSztFQUN2QixhQUFhLEVBQUUsR0FBRztFQUNsQixRQUFRLEVBQUUsUUFBUTtFQUNsQixPQUFPLEVBQUUsSUFBSSxHQUNkOztBQUVELEFBQUEsT0FBTyxDQUFDO0VBQ04sTUFBTSxFQUFFLEdBQUc7RUFDWCxnQkFBZ0IsRUFBRSxPQUFrQjtFQUNwQyxLQUFLLEVBQUcsT0FBa0I7RUFDMUIsV0FBVyxFQUFFLEdBQUc7RUFDaEIsU0FBUyxFQUFFLE1BQU07RUFDakIsT0FBTyxFQUFFLElBQUk7RUFDYixXQUFXLEVBQUUsTUFBTTtFQUNuQixhQUFhLEVBQUUsR0FBRyxHQWlCbkI7RUF6QkQsQUFTRSxPQVRLLENBU0wsQ0FBQyxDQUFDO0lBQ0EsTUFBTSxFQUFFLENBQUMsR0FDVjtFQVhILEFBWUUsT0FaSyxDQVlMLFdBQVcsQ0FBQztJQUNWLE9BQU8sRUFBRSxHQUFHLEdBQ2I7RUFkSCxBQWVFLE9BZkssQ0FlTCxXQUFXLENBQUM7SUFDVixPQUFPLEVBQUUsR0FBRztJQUNaLGdCQUFnQixFQUFFLE9BQWtCO0lBQ3BDLEtBQUssRUFBRSxLQUFLO0lBQ1osYUFBYSxFQUFFLEdBQUcsR0FJbkI7SUF2QkgsQUFvQkksT0FwQkcsQ0FlTCxXQUFXLEFBS1IsTUFBTSxDQUFDO01BQ04sZ0JBQWdCLEVBQUUsT0FBa0IsR0FDckM7O0FBS0wsQUFBQSxTQUFTLENBQUM7RUFDUixNQUFNLEVBQUUsS0FBSyxHQUNkOztBQUVELEFBQUEsSUFBSSxDQUFDO0VBQ0gsT0FBTyxFQUFFLElBQUk7RUFDYixnQkFBZ0IsRUFBRSxLQUFLO0VBQ3ZCLE1BQU0sRUFBRSxNQUFNO0VBQ2QsYUFBYSxFQUFFLEdBQUc7RUFDbEIsUUFBUSxFQUFFLFFBQVE7RUFDbEIsVUFBVSxFQUFFLEdBQUcsQ0FBQyxHQUFHLENBQUMsSUFBSSxDQUFFLElBQUcsQ0FBQyxPQUFrQixHQW9CakQ7RUExQkQsQUFPRSxJQVBFLENBT0YsR0FBRyxDQUFDO0lBQ0YsTUFBTSxFQUFFLElBQUk7SUFDWixVQUFVLEVBQUUsTUFBTTtJQUNsQixPQUFPLEVBQUUsTUFBTSxHQUNoQjtFQVhILEFBYUksSUFiQSxDQVlGLFNBQVMsQ0FDUCxLQUFLLENBQUM7SUFDSixLQUFLLEVBQUUsR0FBRztJQUNWLGdCQUFnQixFQUFFLE9BQWtCO0lBQ3BDLE1BQU0sRUFBRSxJQUFJO0lBQ1osc0JBQXNCLEVBQUUsR0FBRztJQUMzQix5QkFBeUIsRUFBRSxHQUFHLEdBQy9CO0VBbkJMLEFBcUJFLElBckJFLEFBcUJELFFBQVEsQ0FBQztJQUNSLEtBQUssRUFBRSxHQUFHO0lBQ1YsZ0JBQWdCLEVBQUUsT0FBa0I7SUFDcEMsTUFBTSxFQUFFLElBQUksR0FDYjs7QUFHSCxBQUFBLElBQUksQ0FBQztFQUNILEtBQUssRUFBRSxPQUFrQjtFQUN6QixPQUFPLEVBQUUsSUFBSTtFQUNiLFdBQVcsRUFBRSxNQUFNLEdBSXBCO0VBUEQsQUFJRSxJQUpFLENBSUYsRUFBRSxDQUFDO0lBQ0QsTUFBTSxFQUFFLENBQUMsR0FDVjs7QUFHSCxBQUFBLE9BQU8sQ0FBQztFQUNOLEtBQUssRUFBRSxJQUFJO0VBQ1gsT0FBTyxFQUFFLE1BQU0sR0FJaEI7RUFORCxBQUdFLE9BSEssQ0FHTCxFQUFFLENBQUM7SUFDRCxNQUFNLEVBQUUsQ0FBQyxHQUNWOztBQUdILEFBQUEsU0FBUyxDQUFDO0VBQ1IsT0FBTyxFQUFFLElBQUk7RUFDYixXQUFXLEVBQUUsTUFBTSxHQWlCcEI7RUFuQkQsQUFHRSxTQUhPLENBR1AsQ0FBQyxDQUFDO0lBQ0EsT0FBTyxFQUFFLEdBQUc7SUFDWixNQUFNLEVBQUUsQ0FBQztNQUNQLFdBQUksRUFBRSxJQUFJO0lBRVosS0FBSyxFQUFFLE9BQWtCO0lBQ3pCLFNBQVMsRUFBRSxNQUFNLEdBQ2xCO0VBVkgsQUFXRSxTQVhPLENBV1AsSUFBSSxDQUFDO0lBQ0gsZ0JBQWdCLEVBQUUsT0FBa0I7SUFDcEMsYUFBYSxFQUFFLElBQUksR0FDcEI7RUFkSCxBQWVFLFNBZk8sQ0FlUCxTQUFTLENBQUM7SUFDUixnQkFBZ0IsRUFBRSxPQUFrQjtJQUNwQyxhQUFhLEVBQUUsSUFBSSxHQUNwQjs7QUFHSCxBQUFBLFVBQVUsQ0FBQztFQUNULE9BQU8sRUFBRSxJQUFJO0VBQ2IsZUFBZSxFQUFFLFVBQVU7RUFDM0IsS0FBSyxFQUFHLE9BQWlCO0VBQ3pCLE9BQU8sRUFBRSxDQUFDLEdBT1g7RUFYRCxBQUtFLFVBTFEsQ0FLUixTQUFTLENBQUM7SUFDUixlQUFlLEVBQUUsSUFBSSxHQUN0QjtFQVBILEFBUUUsVUFSUSxDQVFSLEVBQUUsQ0FBQztJQUNELGFBQWEsRUFBRSxJQUFJLEdBQ3BCOztBQUdILEFBQUEsVUFBVSxDQUFDO0VBQ1QsT0FBTyxFQUFFLElBQUk7RUFDYixVQUFVLEVBQUUsTUFBTTtFQUNsQixXQUFXLEVBQUUsSUFBSTtFQUNqQixZQUFZLEVBQUUsSUFBSSxHQWNuQjtFQWxCRCxBQUtFLFVBTFEsQ0FLUixDQUFDLENBQUM7SUFDQSxNQUFNLEVBQUUsR0FBRztJQUNYLGdCQUFnQixFQUFFLE9BQWtCO0lBQ3BDLEtBQUssRUFBRyxPQUFrQjtJQUMxQixPQUFPLEVBQUUsR0FBRztJQUNaLFdBQVcsRUFBRSxHQUFHO0lBQ2hCLFNBQVMsRUFBRSxNQUFNO0lBQ2pCLGFBQWEsRUFBRSxHQUFHLEdBS25CO0lBakJILEFBYUksVUFiTSxDQUtSLENBQUMsQUFRRSxNQUFNLENBQUM7TUFDTixLQUFLLEVBQUUsS0FBSztNQUNaLGdCQUFnQixFQUFFLE9BQWtCLEdBQ3JDOztBQUlMLEFBQUEsWUFBWSxDQUFDO0VBQ1gsU0FBUyxFQUFFLElBQUk7RUFDZixVQUFVLEVBQUUsTUFBTSxHQUluQjtFQU5ELEFBR0UsWUFIVSxDQUdWLENBQUMsQ0FBQztJQUNBLEtBQUssRUFBRSxPQUFrQixHQUMxQjs7QUFHSCxNQUFNLE1BQU0sTUFBTSxNQUFNLFNBQVMsRUFBRSxNQUFNO0VBQ3ZDLEFBQUEsVUFBVSxDQUFDO0lBQ1QsU0FBUyxFQUFFLElBQUksR0FDaEI7O0FBR0gsTUFBTSxNQUFNLE1BQU0sTUFBTSxTQUFTLEVBQUUsUUFBUTtFQUN6QyxBQUFBLFNBQVMsQ0FBQztJQUNSLE1BQU0sRUFBRSxVQUFVLEdBQ25CO0VBQ0QsQUFBQSxJQUFJLENBQUM7SUFDSCxjQUFjLEVBQUUsTUFBTTtJQUN0QixZQUFZLEVBQUUsSUFBSSxHQWlEbkI7SUFuREQsQUFHRSxJQUhFLENBR0YsR0FBRyxDQUFDO01BQ0YsTUFBTSxFQUFFLElBQUk7TUFDWixLQUFLLEVBQUUsSUFBSTtNQUNYLFFBQVEsRUFBRSxRQUFRO01BQ2xCLElBQUksRUFBRSxJQUFJO01BQ1YsR0FBRyxFQUFFLEtBQUssR0FDWDtJQVRILEFBV0ksSUFYQSxDQVVGLFNBQVMsQ0FDUCxLQUFLLENBQUM7TUFDSixRQUFRLEVBQUUsUUFBUTtNQUNsQixJQUFJLEVBQUUsQ0FBQyxHQUNSO0lBZEwsQUFnQkUsSUFoQkUsQ0FnQkYsSUFBSSxDQUFDO01BQ0gsZUFBZSxFQUFFLFVBQVUsR0FJNUI7TUFyQkgsQUFrQkksSUFsQkEsQ0FnQkYsSUFBSSxDQUVGLEVBQUUsQ0FBQztRQUNELFNBQVMsRUFBRSxNQUFNLEdBQ2xCO0lBcEJMLEFBdUJJLElBdkJBLENBc0JGLE9BQU8sQ0FDTCxFQUFFLENBQUM7TUFDRCxTQUFTLEVBQUUsTUFBTSxHQUNsQjtJQXpCTCxBQTBCSSxJQTFCQSxDQXNCRixPQUFPLENBSUwsRUFBRSxDQUFDO01BQ0QsU0FBUyxFQUFFLE1BQU0sR0FDbEI7SUE1QkwsQUE4Qk0sSUE5QkYsQ0FzQkYsT0FBTyxDQU9MLFVBQVUsQUFDUCxNQUFNLENBQUM7TUFDTixPQUFPLEVBQUUsRUFBRTtNQUNYLFFBQVEsRUFBRSxRQUFRO01BQ2xCLEdBQUcsRUFBRSxLQUFLO01BQ1YsS0FBSyxFQUFFLEdBQUc7TUFDVixNQUFNLEVBQUUsR0FBRztNQUNYLGdCQUFnQixFQUFFLE9BQWlCLEdBQ3BDO0lBckNQLEFBd0NFLElBeENFLENBd0NGLFVBQVUsQ0FBQztNQUNULE1BQU0sRUFBRSxDQUFDO1FBQ1AsYUFBTSxFQUFFLElBQUk7TUFFZCxlQUFlLEVBQUUsVUFBVTtNQUMzQixVQUFVLEVBQUUsVUFBVSxHQUt2QjtNQWxESCxBQThDSSxJQTlDQSxDQXdDRixVQUFVLENBTVIsQ0FBQyxDQUFDO1FBQ0EsV0FBVyxFQUFFLENBQUM7UUFDZCxZQUFZLEVBQUUsSUFBSSxHQUNuQjtFQUdMLEFBQUEsY0FBYyxDQUFDO0lBQ2IsV0FBVyxFQUFFLENBQUM7SUFDZCxZQUFZLEVBQUUsQ0FBQyxHQUloQjtJQU5ELEFBR0UsY0FIWSxDQUdaLFFBQVEsQ0FBQztNQUNQLE1BQU0sRUFBRSxJQUFJLEdBQ2I7RUFFSCxBQUFBLE1BQU0sQ0FBQztJQUNILGdCQUFnQixFQUFFLHFDQUFxQyxHQUMxRCJ9 */
