body {
  display: block;
  background-color: #effafa;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  margin: 0; }

header img {
  width: 100%; }

.jobsList {
  margin: 0 100px; }

.job {
  display: flex;
  background-color: white;
  margin: 50px 0;
  border-radius: 8px;
  position: relative;
  box-shadow: 3px 6px 19px -7px #5ba4a4; }
  .job img {
    height: 90px;
    align-self: center;
    padding: 0 30px; }
  .job .featured .line {
    width: 5px;
    background-color: #5ba4a4;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
  .job::before {
    width: 5px;
    background-color: #5ba4a4;
    height: 100%; }

.top {
  color: #5ba4a4;
  display: flex;
  align-items: center; }
  .top h2 {
    margin: 0; }

.middle {
  width: 100%;
  padding: 20px 0; }
  .middle h2 {
    margin: 0; }

.stickers {
  display: flex;
  align-items: center; }
  .stickers p {
    padding: 6px;
    margin: 0;
      margin-left: 10px;
    color: #effafa;
    font-size: 0.7rem; }
  .stickers .new {
    background-color: #5ba4a4;
    border-radius: 15px; }
  .stickers .featured {
    background-color: #2c3a3a;
    border-radius: 15px; }

.otherInfo {
  display: flex;
  justify-content: flex-start;
  color: #7b8e8e;
  padding: 0; }
  .otherInfo .noBullet {
    list-style-type: none; }
  .otherInfo li {
    padding-right: 25px; }

.languages {
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-right: 10px; }
  .languages p {
    margin: 5px;
    background-color: #eef6f6;
    color: #5ba4a4;
    padding: 8px;
    font-weight: 700;
    font-size: 0.8rem; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbImJvZHkge1xuICBkaXNwbGF5OiBibG9jaztcbiAgYmFja2dyb3VuZC1jb2xvcjogaHNsKDE4MCwgNTIlLCA5NiUpO1xuICBmb250LXNpemU6IDE1cHg7XG4gIGZvbnQtZmFtaWx5OiAnU3BhcnRhbicsIHNhbnMtc2VyaWY7XG4gIG1hcmdpbjogMDtcbn1cblxuaGVhZGVyIGltZyB7XG4gIHdpZHRoOiAxMDAlO1xufVxuXG4uam9ic0xpc3Qge1xuICBtYXJnaW46IDAgMTAwcHg7XG59XG5cbi5qb2Ige1xuICBkaXNwbGF5OiBmbGV4O1xuICBiYWNrZ3JvdW5kLWNvbG9yOiB3aGl0ZTtcbiAgbWFyZ2luOiA1MHB4IDA7XG4gIGJvcmRlci1yYWRpdXM6IDhweDtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICBib3gtc2hhZG93OiAzcHggNnB4IDE5cHggLTdweCBoc2woMTgwLCAyOSUsIDUwJSk7XG4gIGltZyB7XG4gICAgaGVpZ2h0OiA5MHB4O1xuICAgIGFsaWduLXNlbGY6IGNlbnRlcjtcbiAgICBwYWRkaW5nOiAwIDMwcHg7XG4gIH1cbiAgLmZlYXR1cmVkIHtcbiAgICAubGluZSB7XG4gICAgICB3aWR0aDogNXB4O1xuICAgICAgYmFja2dyb3VuZC1jb2xvcjogaHNsKDE4MCwgMjklLCA1MCUpO1xuICAgICAgaGVpZ2h0OiAxMDAlO1xuICAgICAgYm9yZGVyLXRvcC1sZWZ0LXJhZGl1czogOHB4O1xuICAgICAgYm9yZGVyLWJvdHRvbS1sZWZ0LXJhZGl1czogOHB4O1xuICAgIH1cbiAgfVxuICAmOjpiZWZvcmUge1xuICAgIHdpZHRoOiA1cHg7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogaHNsKDE4MCwgMjklLCA1MCUpO1xuICAgIGhlaWdodDogMTAwJTtcbiAgfVxuXG59XG4udG9wIHtcbiAgY29sb3I6IGhzbCgxODAsIDI5JSwgNTAlKTtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgaDIge1xuICAgIG1hcmdpbjogMDtcbiAgfVxufVxuXG4ubWlkZGxlIHtcbiAgd2lkdGg6IDEwMCU7XG4gIHBhZGRpbmc6IDIwcHggMDtcbiAgaDIge1xuICAgIG1hcmdpbjogMDtcbiAgfVxufVxuXG4uc3RpY2tlcnMge1xuICBkaXNwbGF5OiBmbGV4O1xuICBhbGlnbi1pdGVtczogY2VudGVyO1xuICBwIHtcbiAgICBwYWRkaW5nOiA2cHg7XG4gICAgbWFyZ2luOiAwIHtcbiAgICAgIGxlZnQ6IDEwcHg7XG4gICAgfVxuICAgIGNvbG9yOiBoc2woMTgwLCA1MiUsIDk2JSk7XG4gICAgZm9udC1zaXplOiAwLjdyZW07XG4gIH1cbiAgLm5ldyB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogaHNsKDE4MCwgMjklLCA1MCUpO1xuICAgIGJvcmRlci1yYWRpdXM6IDE1cHg7XG4gIH1cbiAgLmZlYXR1cmVkIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiBoc2woMTgwLCAxNCUsIDIwJSk7XG4gICAgYm9yZGVyLXJhZGl1czogMTVweDtcbiAgfVxufVxuXG4ub3RoZXJJbmZvIHtcbiAgZGlzcGxheTogZmxleDtcbiAganVzdGlmeS1jb250ZW50OiBmbGV4LXN0YXJ0O1xuICBjb2xvcjogIGhzbCgxODAsIDglLCA1MiUpO1xuICBwYWRkaW5nOiAwO1xuICAubm9CdWxsZXQge1xuICAgIGxpc3Qtc3R5bGUtdHlwZTogbm9uZTtcbiAgfVxuICBsaSB7XG4gICAgcGFkZGluZy1yaWdodDogMjVweDtcbiAgfVxufVxuXG4ubGFuZ3VhZ2VzIHtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24tc2VsZjogY2VudGVyO1xuICBtYXJnaW4tbGVmdDogYXV0bztcbiAgbWFyZ2luLXJpZ2h0OiAxMHB4O1xuICBwIHtcbiAgICBtYXJnaW46IDVweDtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiBoc2woMTgwLCAzMSUsIDk1JSk7XG4gICAgY29sb3I6ICBoc2woMTgwLCAyOSUsIDUwJSk7XG4gICAgcGFkZGluZzogOHB4O1xuICAgIGZvbnQtd2VpZ2h0OiA3MDA7XG4gICAgZm9udC1zaXplOiAwLjhyZW07XG4gIH1cbn1cblxuLmF0dHJpYnV0aW9uIHtcbiAgZm9udC1zaXplOiAxMXB4O1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIGEge1xuICAgIGNvbG9yOiBoc2woMjI4LCA0NSUsIDQ0JSk7XG4gIH1cbn1cbiJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxBQUFBLElBQUksQ0FBQztFQUNILE9BQU8sRUFBRSxLQUFLO0VBQ2QsZ0JBQWdCLEVBQUUsT0FBa0I7RUFDcEMsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUscUJBQXFCO0VBQ2xDLE1BQU0sRUFBRSxDQUFDLEdBQ1Y7O0FBRUQsQUFBQSxNQUFNLENBQUMsR0FBRyxDQUFDO0VBQ1QsS0FBSyxFQUFFLElBQUksR0FDWjs7QUFFRCxBQUFBLFNBQVMsQ0FBQztFQUNSLE1BQU0sRUFBRSxPQUFPLEdBQ2hCOztBQUVELEFBQUEsSUFBSSxDQUFDO0VBQ0gsT0FBTyxFQUFFLElBQUk7RUFDYixnQkFBZ0IsRUFBRSxLQUFLO0VBQ3ZCLE1BQU0sRUFBRSxNQUFNO0VBQ2QsYUFBYSxFQUFFLEdBQUc7RUFDbEIsUUFBUSxFQUFFLFFBQVE7RUFDbEIsVUFBVSxFQUFFLEdBQUcsQ0FBQyxHQUFHLENBQUMsSUFBSSxDQUFFLElBQUcsQ0FBQyxPQUFrQixHQXFCakQ7RUEzQkQsQUFPRSxJQVBFLENBT0YsR0FBRyxDQUFDO0lBQ0YsTUFBTSxFQUFFLElBQUk7SUFDWixVQUFVLEVBQUUsTUFBTTtJQUNsQixPQUFPLEVBQUUsTUFBTSxHQUNoQjtFQVhILEFBYUksSUFiQSxDQVlGLFNBQVMsQ0FDUCxLQUFLLENBQUM7SUFDSixLQUFLLEVBQUUsR0FBRztJQUNWLGdCQUFnQixFQUFFLE9BQWtCO0lBQ3BDLE1BQU0sRUFBRSxJQUFJO0lBQ1osc0JBQXNCLEVBQUUsR0FBRztJQUMzQix5QkFBeUIsRUFBRSxHQUFHLEdBQy9CO0VBbkJMLEFBcUJFLElBckJFLEFBcUJELFFBQVEsQ0FBQztJQUNSLEtBQUssRUFBRSxHQUFHO0lBQ1YsZ0JBQWdCLEVBQUUsT0FBa0I7SUFDcEMsTUFBTSxFQUFFLElBQUksR0FDYjs7QUFHSCxBQUFBLElBQUksQ0FBQztFQUNILEtBQUssRUFBRSxPQUFrQjtFQUN6QixPQUFPLEVBQUUsSUFBSTtFQUNiLFdBQVcsRUFBRSxNQUFNLEdBSXBCO0VBUEQsQUFJRSxJQUpFLENBSUYsRUFBRSxDQUFDO0lBQ0QsTUFBTSxFQUFFLENBQUMsR0FDVjs7QUFHSCxBQUFBLE9BQU8sQ0FBQztFQUNOLEtBQUssRUFBRSxJQUFJO0VBQ1gsT0FBTyxFQUFFLE1BQU0sR0FJaEI7RUFORCxBQUdFLE9BSEssQ0FHTCxFQUFFLENBQUM7SUFDRCxNQUFNLEVBQUUsQ0FBQyxHQUNWOztBQUdILEFBQUEsU0FBUyxDQUFDO0VBQ1IsT0FBTyxFQUFFLElBQUk7RUFDYixXQUFXLEVBQUUsTUFBTSxHQWlCcEI7RUFuQkQsQUFHRSxTQUhPLENBR1AsQ0FBQyxDQUFDO0lBQ0EsT0FBTyxFQUFFLEdBQUc7SUFDWixNQUFNLEVBQUUsQ0FBQztNQUNQLFdBQUksRUFBRSxJQUFJO0lBRVosS0FBSyxFQUFFLE9BQWtCO0lBQ3pCLFNBQVMsRUFBRSxNQUFNLEdBQ2xCO0VBVkgsQUFXRSxTQVhPLENBV1AsSUFBSSxDQUFDO0lBQ0gsZ0JBQWdCLEVBQUUsT0FBa0I7SUFDcEMsYUFBYSxFQUFFLElBQUksR0FDcEI7RUFkSCxBQWVFLFNBZk8sQ0FlUCxTQUFTLENBQUM7SUFDUixnQkFBZ0IsRUFBRSxPQUFrQjtJQUNwQyxhQUFhLEVBQUUsSUFBSSxHQUNwQjs7QUFHSCxBQUFBLFVBQVUsQ0FBQztFQUNULE9BQU8sRUFBRSxJQUFJO0VBQ2IsZUFBZSxFQUFFLFVBQVU7RUFDM0IsS0FBSyxFQUFHLE9BQWlCO0VBQ3pCLE9BQU8sRUFBRSxDQUFDLEdBT1g7RUFYRCxBQUtFLFVBTFEsQ0FLUixTQUFTLENBQUM7SUFDUixlQUFlLEVBQUUsSUFBSSxHQUN0QjtFQVBILEFBUUUsVUFSUSxDQVFSLEVBQUUsQ0FBQztJQUNELGFBQWEsRUFBRSxJQUFJLEdBQ3BCOztBQUdILEFBQUEsVUFBVSxDQUFDO0VBQ1QsT0FBTyxFQUFFLElBQUk7RUFDYixVQUFVLEVBQUUsTUFBTTtFQUNsQixXQUFXLEVBQUUsSUFBSTtFQUNqQixZQUFZLEVBQUUsSUFBSSxHQVNuQjtFQWJELEFBS0UsVUFMUSxDQUtSLENBQUMsQ0FBQztJQUNBLE1BQU0sRUFBRSxHQUFHO0lBQ1gsZ0JBQWdCLEVBQUUsT0FBa0I7SUFDcEMsS0FBSyxFQUFHLE9BQWtCO0lBQzFCLE9BQU8sRUFBRSxHQUFHO0lBQ1osV0FBVyxFQUFFLEdBQUc7SUFDaEIsU0FBUyxFQUFFLE1BQU0sR0FDbEI7O0FBR0gsQUFBQSxZQUFZLENBQUM7RUFDWCxTQUFTLEVBQUUsSUFBSTtFQUNmLFVBQVUsRUFBRSxNQUFNLEdBSW5CO0VBTkQsQUFHRSxZQUhVLENBR1YsQ0FBQyxDQUFDO0lBQ0EsS0FBSyxFQUFFLE9BQWtCLEdBQzFCIn0= */
